Mergeador de accocunts/BasicSample/Service References/WsCorte/GetCorteEnergia2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCorteEnergia2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numerocliente" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dv_numeroCliente" nillable="true" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipo_consulta" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCorteEnergia2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCorteEnergia2Result" type="tns:Corte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Corte">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Guion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Monto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hora" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Motivo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="documento1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dvDoc1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoFaturamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estadoFornecimento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="loteFaturamento" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoError" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MensajeError" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vital" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCorteEnergia2SoapIn">
    <wsdl:part name="parameters" element="tns:GetCorteEnergia2" />
  </wsdl:message>
  <wsdl:message name="GetCorteEnergia2SoapOut">
    <wsdl:part name="parameters" element="tns:GetCorteEnergia2Response" />
  </wsdl:message>
  <wsdl:portType name="SalesForceEmergenciaSoap">
    <wsdl:operation name="GetCorteEnergia2">
      <wsdl:input message="tns:GetCorteEnergia2SoapIn" />
      <wsdl:output message="tns:GetCorteEnergia2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalesForceEmergenciaSoap" type="tns:SalesForceEmergenciaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCorteEnergia2">
      <soap:operation soapAction="http://tempuri.org/GetCorteEnergia2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SalesForceEmergenciaSoap12" type="tns:SalesForceEmergenciaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCorteEnergia2">
      <soap12:operation soapAction="http://tempuri.org/GetCorteEnergia2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesForceEmergencia">
    <wsdl:port name="SalesForceEmergenciaSoap" binding="tns:SalesForceEmergenciaSoap">
      <soap:address location="http://localhost:62175/GetCorteEnergia2.asmx" />
    </wsdl:port>
    <wsdl:port name="SalesForceEmergenciaSoap12" binding="tns:SalesForceEmergenciaSoap12">
      <soap12:address location="http://localhost:62175/GetCorteEnergia2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>